# dependencies
node_modules/

# build / cache
dist/
*.tsbuildinfo

# OS
.DS_Store
Thumbs.db

# editor
.vscode/
.idea/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env
.env
.env.*

# temporary
tmp/
temp/